.header
  .header__menu
    .header__menu__left
      .header__menu__left__a
        = link_to root_path do
          = image_tag 'logo_transparent.png', :size =>'87x59', class: "header__menu__left__a__img", alt: 'ToysToDo'
    .header__menu__right
      = link_to destroy_user_session_path, class: "header__menu__right__li", method: :delete do
        %i.fas.fa-sign-out-alt