= form_with model: @tag, class: :form, local: true do |form|
  = form.text_field :title, placeholder: :タグ名, class: :form__tag
  = form.submit 'タグを編集', class: :form__btn
  = link_to "削除", tag_path(@tag.id), method: :delete, class: "delete"