.header{
  height: 65px;
  background-color: #272121;
  font-family: 'M PLUS 1p', sans-serif;
  &__menu{
    height: 65px;
    display: flex;
    line-height: 65px;
    justify-content: space-between;
    &__img{
    padding: 7px 0 0 70px;
    }
    &__list{
    display: flex;
      &__li{
      list-style: none;
        &__link{
        padding: 0 20px 0 0;
        color: #fff;
        text-decoration: none;
        }
      }
    }
  }
}